@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* These will be the default colors (usually for light theme) */
  --color-bg: #DAE0E6;           /* Background color */
  --color-text: #000000;         /* Text color */
  --color-primary: #051657;      /* Primary color (Base color) */
  --color-secondary: #ffffff;    /* Secondary color */
  --color-success: #217821;      /* Success color */
  --color-danger: #e70303;   /* Danger color */
  --color-neutral: #8897A2;      /* Neutral color */
  --color-accent: #0272C4;       /* Accent color */   /* Slightly brighter version of --color-neutral for accents */
  --logoUrl: url('/blackLogo_noBg.svg');
  --themeUrl:url('/circle-half-stroke-solid_white.svg');
  --editUrl:url('/pencil-solid.svg');
  --enterUrl:url('/enter-Arrow.svg');
  --leaveUrl:url('/leave-Arrow.svg');
  
}

.dark-theme {
  /* These will override the default colors for dark theme */
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-primary: #60A5FA;
  --color-secondary: #1A1A1B;
  --color-success: #217821;
  --color-danger: #B30000; 
  --color-neutral: #6B7280;
  --color-accent: #0272C4;
  --logoUrl: url('/blackLogo_noBg.svg');
  --themeUrl:url('/circle-half-stroke-solid_black.svg');
}

.toogle-theme {
    display: flex;
    border-radius: 50%;
    background-image: var(--themeUrl);
    background-repeat: no-repeat;
    background-size: contain; /* Adjust to your preference */
    height: 35px;
    width: 35px;
    padding: 0; 
}

.toogle-theme:hover {
  color: var(--color-bg);
}

.dark-theme .toogle-theme {
  background-color: #ffffff;
  color: var(--color-text);
  -webkit-transform:rotate(180deg);
  border: solid;
  border-width: thin;
}

.light-theme .toogle-theme {
  color: var(--color-bg);
  background-color: var(--color-secondary); 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 50px;
}



main {
  padding: 1rem 10vw;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {max-width: 100%;}

input { 
  display: inline-block; 
  border-radius: 8px;
  background-color: #ffffff;
  margin: 1rem 0;
}

input::placeholder {
  color: #000000;
  font-size: x-large;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* Navbar */

.logoNav{
  display: flex;
  background-image: var(--logoUrl);
  background-repeat: no-repeat;
  background-size: contain; /* Adjust to your preference */
  width: 155px;
  height: 40px;
}

.navbar {
  height: 56px;
  width: 100%;
  background: var(--color-secondary);
  color: var(--colors-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid var(--color-neutral);
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: solid;
  margin: 8px 16px 8px 0px;
}

.navbar li {
  border-radius: 50%;
}

.navPic {
  padding-top: 5px;
}
  


/* Buttons */

.btn, button {
  background-color: var(--color-accent);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}


button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

.btn-editArea{
  background: center;
  background-image: var(--editUrl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 8px 16px 8px 0px;
}

.dark-theme .btn-editArea{
  background: center;
  background-image: var(--editUrl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 8px 16px 8px 0px;
}

.loginArea{
  padding: 0;
  background: center;
  background-image: var(--enterUrl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 8px 16px 8px 0px;
}

.dark-theme .loginArea{
  padding: 0;
  background: center;
  background-image: var(--enterUrl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 8px 16px 8px 0px;
}

.logoutArea{
  padding: 0;
  background: center;
  background-image: var(--leaveUrl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 8px 16px 8px 0px;
}

li main{
  padding: 0;
}

.dark-theme .logoutArea{
  padding: 0;
  background: center;
  background-image: var(--leaveUrl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 8px 16px 8px 0px;
}


button.btn-red {
  background-color: var(--color-danger);
  color: var(--color-text)
}

button.btn-green {
  background-color: var(--color-success);
  color: white;
}

button.btn-blue{
  background-color: var(--color-accent);
  color: var(--color-text);
}

button.btn-google {
  background-color: white;
  color: #000000;
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: var(--color-bg);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Cards */
.link-text{
  color: blue;
  cursor: pointer;
}

.link-text:hover{
  text-decoration: underline;
}

.card {
  padding: 2rem 2rem 0.7rem 2rem;
  margin: 1rem 0;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

.card h2 {
  -webkit-text-stroke-width: thin;
}

.card h2:hover {
  text-decoration: underline;
}

.card footer {
  display: flex;
}

.card-img-center {
  width:20%;
  display:block;
  margin:auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  color: white;
  background: var(--color-blue);
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* File uploads */

input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
    margin-left: auto;
    background: var(--color-secondary);
    color: var(--color-text);
    padding: 5px;
    margin: 5px 0;
}
/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-danger);
}

.text-success {
  font-weight: bold;
  color: var(--color-success);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden { display:  none; }