@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* These will be the default colors (usually for light theme) */
  --color-bg: #FAF9F6;     
  --color-text: #3E3832;   
  --color-primary: #759CFA;   
  --color-secondary: #8897A2;
  --color-success: #88D4A5;  
  --color-danger: #B30000;   
  --color-neutral: #C3C8CD;  
  --color-accent: #B5BEC8;     
}

.dark-theme {
  /* These will override the default colors for dark theme */
  --color-bg: #1F2937;
  --color-text: #F3F4F6;
  --color-primary: #60A5FA;
  --color-secondary: #4B5563;
  --color-success: #34D399;
  --color-danger: #F87171;
  --color-neutral: #6B7280;
  --color-accent: #9CA3AF;
}

.toogle-theme {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;
}

.toogle-theme:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

/* You might want to adjust styles for dark and light themes: */
.dark-theme .toogle-theme {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.light-theme .toogle-theme {
  background-color: var(--color-secondary);
  color: var(--color-bg);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 50px;
}



main {
  padding: 1rem 10vw;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {max-width: 100%;}

input { 
  display: inline-block; 
  border-radius: 8px;
  background-color: var(--color-secondary);
  margin: 1rem 0;
}

input::placeholder {
  color: var(--color-text);
  font-size: x-large;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* Navbar */

.navbar {
  height: 56px;
  width: 100%;
  background: var(--color-secondary);
  color: var(--colors-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid var(--color-neutral);
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navbar li {
  border-radius: 50%;
  
}

/* Buttons */

.btn, button {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}


button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-blue {
  background-color: var(--color-accent);
  color: var(--color-text);
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-success);
  color: white;
}

button.btn-google {
  background-color: white;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: var(--color-bg);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Cards */

.card {
  padding: 2rem 2rem 0.7rem 2rem;
  margin: 1rem 0;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

.card footer {
  display: flex;
}

.card-img-center {
  width:20%;
  display:block;
  margin:auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  color: white;
  background: var(--color-blue);
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* File uploads */

input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
    margin-left: auto;
    background: var(--color-secondary);
    color: var(--color-text);
    padding: 5px;
    margin: 5px 0;
}
/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-danger);
}

.text-success {
  font-weight: bold;
  color: var(--color-success);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden { display:  none; }